- var pageName = 'Resume';
- var pageClass = 'resume';

include layout/head
include layout/header
include layout/nav

main(class="#{pageClass}")
  section.timeline
    .timeline-headers
      - var i = 0;
      each item in timeline
        div(class="timeline-header", id="#{item.startDate}")
          p.year #{moment.duration(item.startDate.diff(item.endDate)).humanize()}
          p.organisation #{item.organisation}
          p.city #{item.city}

include layout/footer

//- script(type="text/javascript", src="http://d3js.org/d3.v3.min.js", charset="utf-8")

//- script.
  //- var svgFrame = d3.select(".timeline").append("svg").attr("width", "100%").attr("height", 270);
  //- var dataGroup = svgFrame.selectAll(".node").data(!{JSON.stringify(timeline)}).enter().append("g").attr("class", "node").attr("transform", function(d,i){return "translate(" + (50 + 250*i) + "," + 150 + ")";});
  //- var circles = dataGroup.append("rectangle").attr("r", 50).style("fill", "#cccc33");
  //- var labels = dataGroup.append("text").text(function(d){return d.event.organisation}).attr("text-anchor", "middle").style("color", "#ffff33");