doctype
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
    title Hello
    link(href="css/style.css", rel="stylesheet", type="text/css")
    mixin section(title)
      section.section
        h2.section-title= title
        .row
          block
    mixin project(title, link, imageLink, description)
      .project
        a(href=link target="_blank")
          img(src=imageLink)
          .project-info
            h3= title
            p= description
  body
    header.title
      h1 Sanjay Guruprasad
    main
      +section("Projects")
        +project("Thoughtarium", "http://thoughtarium.com", "img/thoughtarium.png",
          "My blog written on a homegrown blogging engine using NodeJS")
        +project("Sunny Side Up", "http://sunnysideup.co.in", "img/sunnySideUp.png",
          "A store for quirky products. Under construction!")
        +project("Twiddly", "http://twidd.ly", "img/twiddly.png",
          "Bringing the best content on the web to your android lockscreen!")
        +project("Watchmenesque", "https://atom.io/packages/Watchmenesque-Dark", "img/watchmenesque.png",
          "A syntax theme I created for the atom text editor. Crawling towards 200 downloads")
      +section("Work")
        +project("Nocturne", "http://nocturnedevs.com", "img/nocturne.png",
          "Open source projects with my best friend, Hari Mohanraj")
        +project("Softrade", "http://softrade.in", "img/softrade.png",
          "Customized software projects at my parent's company")
      +section("Doodles")
        +project("Revolutions", "http://sanjaypojo.github.io/revolutions/", "img/revolutions.gif",
          "A code doodle to visualize our solar system")
        +project("React.Do", "http://todo.sanjaypojo.com", "img/reactDo.png",
          "A basic todo app to try out ReactJS. It uses localStorage so your todos are saved in your browser")
        +project("Shylock", "http://shylock.sanjaypojo.com/app", "img/shylock.png",
          "Using machine learning to predict whether you sound more like Shakespeare or Sir Arthur Conan Doyle")
    footer
      p Designed and developed by @sanjaypojo
