mixin section(title)
  section.section
    h2.section-title= title
    .row
      block

mixin project(title, imageLink, caption, link, detailPage)
  if detailPage
    - link = "/projects/" + detailPage;
    - var target = "";
  else
    - var target = "_blank";
  .project
    a(href=link target=target)
      img(src=imageLink)
      .project-info
        h3= title
        p.caption= caption

mixin project-header(title, imageLink, caption, links)
  .project-header
    if imageLink
      img(src=imageLink)
    .heading-container
      h1= title
      h4= caption
      .link-block
        if links
          for link in links
            a(class="link-btn", href="#{link.url}", target="_blank")
              i(class="fa #{link.icon}")
              span= link.caption

mixin timeline(events)
  section.section
    .timeline
      for event in events
        .timeline-event
          .timeline-time= event.time
          h4.timeline-title= event.title
          p.timeline-description= event.description
